body {
  font-family: Roboto, sans-serif;
  margin: 5px;
  padding: 15px;
  background-color: #171A21;
  color: #D4D6FC;
  width: 350px;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}

h1 {
  font-size: 20px;
  font-weight: black;
  text-align: center;
  color: #7A93AC;
  margin-bottom: 15px;
}

.file-input-label,
#file-selected-label {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  display: block;
  margin-bottom: 10px;
  font-weight: 500;
  color: #9AB1E3;
}

input[type='file'] {
  font-family: Roboto, sans-serif;  
  font-size: 14px;
  margin-bottom: 15px;
  border: 1px solid #617073;
  border-radius: 4px;
  background-color: #1E232B;
  color: #AFB3F7;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #171A21;
  background-color: #9AB1E3;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 8px;
}

button:hover {
  background-color: #7A93AC;
}

button:active {
  background-color: #617073;
}

#progress-container {
  position: relative;
  width: 100%;
  height: 10px;
  background-color: #1F2733;
  border-radius: 4px;
  overflow: hidden;
  margin-top: 15px;
}

#progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #4C7FB0;
  transition: width 0.2s ease-out;
}

.file-section {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

input[type='file'] {
  font-size: 14px;
  margin-right: 10px;
  border: 1px solid #617073;
  border-radius: 4px;
  background-color: #171A21;
  color: #D4D6FC;
}

#instruction {
  margin-bottom: 12px;
  font-size: 14px;
  padding-bottom: 5px;
  font-weight: 500;
  color: #D4D6FC;
}

label {
  font-size: 14px;
  display: block;
  font-weight: 400;
  color: #E5E6F7;
}

ul {
  list-style-type: none;
  padding: 0;
}

.blocklist-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.external-link {
  margin-left: 8px;
  text-decoration: none;
  color: #9AB1E3;
}
