body {
  font-family: Roboto, sans-serif;
  margin: 5px;
  padding: 15px;
  /* Adjusted the background color to use a gradient */
  background: linear-gradient(135deg, #171A21 0%, #1E232B 100%);
  color: #d4e7fc;
  width: 350px;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}

h1 {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: #86a9de;
  margin-bottom: 15px;
}

.file-input-label,
#file-selected-label,
input[type='file'] {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  display: block;
  margin-bottom: 10px;
  font-weight: 500;
  color: #afc5f7;
}

input[type='file'] {
  margin-bottom: 15px;
  border: 1px solid #86a9de;
  border-radius: 4px;
  background-color: #1E232B;
  color: #afc5f7;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 17px;
  font-weight: bold;
  color: #171e26;
  /* Added radial gradient background to the button */
  background-image: radial-gradient(circle, #86a9de 0%, #3e6eb7 100%);
  border: none;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 8px;
}

button:hover {
  /* Added radial gradient background to the button hover */
  background-image: radial-gradient(circle, #3e6eb7 0%, #86a9de 100%);
}

button:active {
  background-color: #616c73;
}

.file-section {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

input[type='file'] {
  font-size: 14px;
  margin-right: 10px;
  border: 1px solid #86a9de;
  border-radius: 4px;
  background-color: #171A21;
  color: #c8dcf6;
}

#instruction {
  margin-bottom: 12px;
  font-size: 14px;
  padding-bottom: 5px;
  font-weight: 500;
  color: #c8dcf6;
}

label {
  font-size: 14px;
  display: block;
  font-weight: 400;
  color: #E5E6F7;
}

ul {
  list-style-type: none;
  padding: 0;
}

.blocklist-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.external-link {
  margin-left: 8px;
  text-decoration: none;
  color: #9AB1E3;
}

input[type='file'] {
  background-image: radial-gradient(circle, #171A21 0%, #1E232B 100%);
}

input[type='file']:hover {
  background-image: radial-gradient(circle, #1E232B 0%, #171A21 100%);
}
